<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C44BD1F1CE44E43001ED386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C44BD381CE44E44001ED386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C44BD431CE44E44001ED386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
