<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>classification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7911EBDE1C4668560067B3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7911EBF71C4668560067B3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7911EC021C4668560067B3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
